{% extends "website/base.html" %}
{% load static %}
{% block content %}
{% include "screener/navbar.html" %}
    <div class="container my-5 d-flex flex-column justify-content-around align-items-center">
        <div class="my-2 ">
            <a class="btn btn-primary" href="{% url 'screener:create_portfolio' %}">Crea Portfolio</a>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-around flex-wrap">
        {% for portfolio in portfolios %}

            <div class="card my-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ portfolio.name }}</h5>
                    <p class="card-text">{{ portfolio.total_value }}</p>
                    <a class="btn btn-primary" href="{% url 'screener:portfolio_details' portfolio.pk %}">Details</a>
                </div>  
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}